.button {
  composes: hoverScale from '@/assets/utils.module.css';
  height: var(--button-height);
  border: 1px solid var(--link-hover-color);
  background-color: var(--link-color);
  color: var(--background-color);
  transition: background-color var(--timing-fast) ease;

  cursor: pointer;
}

.button:hover {
  background-color: var(--link-hover-color);
}

.circular {
  border-radius: var(--button-height);
  width: var(--button-height)
}