.modal {
  position: fixed;
  min-width: min(95vw, 1000px);
  width: 80vw;
  height: 80vh;
  top: calc(var(--header-height) + var(--padding));
  left: 0;
  padding: var(--padding);
  
  box-shadow: var(--soft-shadow);
  border: none;
}

.button {
  position: absolute;
  top: var(--half-padding);
  right: var(--half-padding);
}