.panel {
  display: flex;
  height: 100%;
  gap: var(--padding);
}

@media (max-width: 800px) {
  .panel {
    flex-direction: column;
  }
}

.image {
  composes: centeredBackground from '@/assets/utils.module.css';
}

.image, .detail {
  flex: 1;
}
