.app {
  max-width: 1600px;
  margin: 0 auto;
  
}

.logo {
  margin: 0;
  font-size: small;
}

header {
  /* border-bottom: 1px solid black; */
  padding: var(--padding);
  box-shadow: var(--soft-shadow);
}

