* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
}

.modal {
  position: fixed;
  width: 80vw;
  height: 400px;
  top: 100px;
  left: 0;
  padding: 30px;
  margin: 10vw;
  background-color: antiquewhite;
}

